<form action="/" method="post">
<div class="optBtn">
  <input type="checkbox" name="name" value="monday" id="">Monday
  <input type="checkbox" name="name" value="tuesday" id=""> Tuesday
  <input type="checkbox" name="name" value="wednesday" id="">Wsednesday
  <input type="checkbox" name="name" value="thursday" id="">Thursday
  <input type="checkbox" name="name" value="friday" id="">Friday
  <input type="checkbox" name="name" value="saturday" id="">Saturday
  <input type="checkbox" name="name" value="sunday" id="">Sunday
  <button type="submit" name="" >Submit</button>
</form>
